name: Deploy Node.js to AWS Elastic Beanstalk

on:
  push:
    branches:
      - main  # Deploy when pushing to main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Zip source code
        run: zip -r deploy.zip . -x "*.git*" "*.github*"

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: "portfolio backend"
          environment_name: "Portfoliobackend-env"
          region: "us-east-1"
          version_label: "v-${{ github.run_number }}"
          bucket_name: "abhilashaportfolio"
          bucket_key: "deploy.zip"
